body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    width: 300px;
    height: 280px;
    background-color: #f5f5f5;
}
.hero-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero-title h1{
    text-align: center;
    color: #212427;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
.hero-title p{
    text-align: center;
    font-size: 15px;
    color: #212427;
}
.about{
    width: 80%;
    position: relative;
    top: -10px;
}
.button1 {
    background-color: #3e6351;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: #d5f3e3;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    flex: 0 0 auto;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button1:hover {
    background-color: #294D4A;
    color: #d5f3e3;
    border: 1px solid #f5f5f5;
}
.loading-away{
    display: none;
}
.loading-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
  }
.loadingSc{
    display: none;
    justify-content: center;
    align-items: center;
}
.loading-text {
    position: relative;
    top: 110px;
    color: #212427;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.results{
    width: 300px;
    height: 280px;
}
.around{
    z-index: 1;
    position: relative;
    top: 25px;
}
.results2{
    width: 300px;
    height: 280px;
}
.button2{
    position: relative;
    top: 70px;
    z-index: 10;
}
.video-title{
    font-size: 20px;
    font-weight: 600;
}
.response{
    font-size: 16px;
    font-weight: 500;
}
.sentiment-score{
    padding: 17px 0px 0px 0px;
}
.buttons-sent{
    position: relative;
    bottom: 21px;
}
.button2{
    background-color: #3e6351;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: #d5f3e3;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    flex: 0 0 auto;
    line-height: 1.5rem;
    padding: 0px 5px 0px 5px;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    touch-action: manipulation;
    width: auto;
}
.button2:hover {
    background-color: #294D4A;
    color: #d5f3e3;
    border: 1px solid #f5f5f5;
}
.negativeHero{
    height: auto;
}
.response-back{
    border: 3px solid #212427;
    background-color: #d1e5db;
    border-radius: 10px;
}
.hidden {
    display: none !important;
}
  
.negativeHero h2{
    font-weight: 700;
}
.negativeHero p{
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.neutralHero{
    height: auto;
}
.response-back{
    border: 3px solid #212427;
    background-color: #d1e5db;
    border-radius: 10px;
}
.neutralHero h2{
    font-weight: 700;
}
.neutralHero p{
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.positiveHero{
    height: auto;
}
.response-back{
    border: 3px solid #212427;
    background-color: #d1e5db;
    border-radius: 10px;
}
.positiveHero h2{
    font-weight: 700;
}
.positiveHero p{
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}